body
{background-color: black;
color: #d40000
}
{
  padding-top: 50px;
}
.starter-template
{
  padding: 0px 15px;
  text-align: center;
}
h1
{
	margin: 0px;     
	color: white;
	padding: 0px;
	font-size: 36px;
	font-family: "trebuchet ms", sans-serif;    
}
h2
{
  color: white
}

h3 {color:white}
.navbar-inverse {

	background: #ff0a4d;
  
	border-color: black;

  color: white;
  
}

h4 {color:white}
  
  
  /* title */
  
  .navbar-inverse .navbar-brand { color: #ff0A4D; }
  
  .navbar-inverse .navbar-brand:hover { color: #ffcc99; }
  
  .navbar-default .navbar-brand:active { color: #cc0000; }